@inherits LayoutComponentBase



<div class="page">
    <main>
        <article>
            <MudThemeProvider />
            <MudDialogProvider />
            <MudSnackbarProvider />
            <MudLayout>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </article>
    </main>
</div>
